# ignored files

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# System Files
.DS_Store
Thumbs.db

# etc
tag_audit.csv
trigger_audit.csv
variable_audit.csv
test.json